
.section_cards {
    margin-top: 30px;
  
    h2 {
      margin-bottom: 15px;
      font-size: 24px;
    }
  
    .container_cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center; /* Выравнивание карточек по центру */
  
      .product_card {
        background-color: #fff;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 250px; /* Фиксированная ширина карточки */
        display: flex;
        flex-direction: column;
        
        .product_card__content {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
  
        img {
          max-width: 100%;
          height: auto;
        }
  
        &__name {
          margin-top: 10px;
          font-size: 18px;
        }
  
        &__price {
          margin-top: 5px;
          font-size: 16px;
          color: #555;
        }
  
        &__button {
          margin-top: auto; /* Прикрепляем кнопку к нижней границе карточки */
          font-size: 18px;
          background-color: #8e44ad; /* Фиолетовый цвет */
          color: #fff; /* Белый текст */
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;
  
          /* При наведении меняем цвет фона кнопки */
          &:hover {
            background-color: #6c3483; /* Темный фиолетовый цвет */
          }
        }
      }
    }
  }