footer {
    background-color: #481173;
    .footer__info {
      margin: 1rem 9rem;
      padding: 1.5rem 0;
      display: flex;
      justify-content: space-between;
      p {
        color: rgba(255, 255, 255, 0.7);
        padding: 0.5rem 0;
        cursor: pointer;
        font-size: 1rem;

      }
      
      &__title {
        font-weight: 700;
        color: #fff !important;
        padding: 2rem 0 0.5rem !important;
    
      }

    //   &__img {
    //     ul {
    //     //   display: flex;
    //     //   justify-content: center;
    //     //   gap: 1rem;
    //     //   list-style-type: none;
    //     //   padding: 2rem 0;
    //       cursor: pointer;
    //     }
    //   }

    }
    
    .footer__info p::placeholder {
        color: rgba(255,255,255,.5);
    }
    .footer__info p:hover {
        color: rgb(255, 255, 255);
    }
    
    .footer__copyright {
      padding: 1.5rem 1rem;
      font-size: 0.83rem;
      text-align: center;
      color: rgba(255, 255, 255, 0.7);
    }
  }

