.modal__basket_header{
    // display: center;
    // grid-template-columns: repeat(2, 1fr);
    margin: 5px;
}

.modal__basket_title{
    padding: 20px 0;
}

.modal__basket_close{
    top: 3%;
}

.wrapper__basket_cards{
    max-height: 250px;
    overflow: auto;
}

.modal__basket_clean{
    align-self: center;
    // margin: 0 0 0 90px;
    // padding: 5px;
    width: 25%;
    height: 35%;
    background-color: #37405a;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
}

.modal__basket_clean:hover{
    background-color: #eb4545;
}

.basket_card{
    border-bottom: 1px solid rgba($color: #6e7376, $alpha: 0.5);
    padding: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 30%;
    position: relative;
}

.basket_card__img{
    margin-top: 5px;
    width: 70px;
    height: 90px;
}

.basket_card__close{
    position: absolute;
    right: 7px;
    top: 0;
    color: #6e7376;
    cursor: pointer;
}

.basket_card__title{
    position: absolute;
    max-width: 240px;
    left: 90px;
    top: 20px;
    color: #6e7376;
    cursor: pointer;
    transition: .3s;
}

.basket_card__title:hover{
    color: #cb11ab;
}

.basket_card__price{
    position: absolute;
    right: 7px;
    bottom: 5px;
    color: #6e7376;
}

.modal_basket_total_wrapper{
    height: 110px;
    margin-top: 35px;
}

.order_sum{
    position: relative;
    font-size: 18px;
}

.modal_basket_total{
    position: absolute;
    bottom: 55px;
    left: 5px;
}

.modal_basket_order_total{
    position: absolute;
    right: 7px;
    bottom: 55px;
}

.modal_basket_order_wrapper{
    margin-top: 35px;
}

.modal_basket_order{
    width: 86%;
    height: 50px;
    font-size: 14px;
    background-color: #cb11ab;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    transition: .3s;
}

.modal_basket_order:hover{
    background-color: #d238b8;
}

@media (max-width: 768px) {
    .modal__basket_clean{
        font-size: 12px;
    }
    .basket_card__title{
        font-size: 14px;
    }
    .basket_card__price{
        font-size: 14px;
    }
    .order_sum{
        font-size: 16px;
    }
}

a{
    text-decoration: none;
}

.modal__wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 7;
    .modal__content{
        font-family: 'Roboto', sans-serif;
        max-width: 550px;
        background: #fff;
        top: 50%;
        left: 50%;
        box-sizing: border-box;
        padding: 30px;
        border: 1px solid rgba($color: #6e7376, $alpha: 0.5);
        border-radius: 10px;
        position: relative;
        transform: translate(-50%, -50%);
    }
}

.modal__close{
    position: absolute;
    font-size: 26px;
    color: rgba($color: #6e7376, $alpha: 0.5);
    font-weight: bold;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

.modal__title{
    padding: 30px 0;
    font-size: 26px;
    line-height: 26px;
    font-weight: bold;
}

.modal__input, select{
    padding: 10px 10px;
    margin-bottom: 20px;
    border: 1px solid rgba($color: #6e7376, $alpha: 0.5);
    border-radius: 10px;
    font-size: 16px;
    line-height: 16px;
    color: #6e7376;
    cursor: pointer;
}

.modal__input:focus{
    border: 1px solid #cb11ab;
}

select{
    width: 25%;
    padding-right: 10px;
}


.modal__hide{
    display: none;
}

@media (max-width: 1024px) {
.modal__wrapper{
    .modal__content{
        max-width: 370px;
    }
    }
    .modal__title{
        font-size: 23px;
        line-height: 20px;
    }
}

@media (max-width: 768px) {
    .modal__wrapper{
        .modal__content{
            max-width: 320px;
            padding: 20px;
        }
    }
    .modal__title{
        font-size: 19px;
        padding: 30px 0 20px 0;
    }
    select{
        padding-right: 0;
    }
    .modal__input, select{
        margin-bottom: 15px;
    }
}