@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('header.scss');
@import url('swiper.scss');
@import url('cards.scss');
@import url('footer.scss');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
    resize: none;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  .main {
    padding: 0px 30px;
  }